* {
          margin: 0;
          padding: 0;
}

.register {
          margin: 130px auto;
          max-width: 550px;
          background-color: #fff;
          border-radius: 10px;
          padding: 50px;
          flex-wrap: wrap;
          transition: 0.3s ease;
}

.register:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.register .containerRegister {
          text-align: start;
          margin-left: 20px;
}

.register .containerRegister h1 {
          font-size: 40px;
          color: #d43757;
          word-spacing: 40px;
}

.register .containerRegister .reg {
          margin-top: 25px;
}

.register .containerRegister .reg label {
          font-size: 30px;
          margin-bottom: 20px;
}

.register .containerRegister .reg input {
          font-size: 30px;
          border-radius: 10px;
          width: 450px;
          border-top: none;
          padding-left: 10px;
          background-color: #f5f5f5;
}

.register .containerRegister .reg input:focus {
          background-color: #fff;
}

.register .containerRegister .reg button {
          width: 450px;
          border: none;
          border-radius: 10px;
          height: 50px;
          font-size: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          background-color: #52b1fe;
          color: #fff;
          transition: 0.3s;
}

.register .containerRegister .reg button:hover {
          background-color: #1976d2;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
          margin-left: 10px;
}

.register .containerRegister .reg p {
          font-size: 22px;
}

.register .containerRegister .reg p .pareg {
          color: #d43757;
          cursor: pointer;
          font-size: 25px;
          transition: 0.3s ease;
}

.register .containerRegister .reg p .pareg:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          font-size: 27px;
}