* {
          margin: 0;
          padding: 0;
}

.footer {
          background-color: #1976d2;
          width: 100%;
          min-height: 300px;
          margin-top: 500px;
          padding-bottom: 0px;
}

.footer .containerOfFooter{
          width: 1200px;
          margin: 0 auto;
          justify-content: space-between;
          background-color: red;
          display: flex;
}

.footer .containerOfFooter .About{
          font-size: 20px;
}