* {
          margin: 0;
          padding: 0;
}

body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
}

.navbar {
          width: 100%;
          height: 67px;
          background-color: #1976d2;
}

.navbar .containerOfNavbar {
          width: 1200px;
          background-color: red;
          margin: 0 auto;
          height: 67px;
          display: flex;
          justify-content: space-between;
          align-items: center;
}

.navbar .containerOfNavbar .tab1 {
          margin-right: 0px;
          font-size: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          color: #fff;
}

.navbar .containerOfNavbar .tab1 img {
          width: 67px;
          height: 75px;
          font-size: 30px;
}

.navbar .containerOfNavbar .tab2 {
          padding-left: -20px;
          font-size: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          color: #fff;
}

.navbar .containerOfNavbar .tab2 .tab2Nav {
          color: #fff;
          text-decoration: none;
}


.navbar .containerOfNavbar .tab3 {
          margin-right: 0px;
          font-size: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          color: #fff;
          position: relative;
}

.navbar .containerOfNavbar .tab3 .avatartab3 {
          display: none;
          position: absolute;
          top: 62px;
          right: 0px;
          width: 300px;
          background-color: #fff;
          border-radius: 10px;
          padding-left: 20px;
          padding: 30px;
          flex-wrap: wrap;
}

.navbar .containerOfNavbar .tab3:hover .avatartab3 {
          display: block;
}

.navbar .containerOfNavbar .tab3 .avatartab3 .tabOFavatar {
          margin-bottom: 20px;
          background-color: #d14848;
          cursor: pointer;
          border-radius: 10px;
          transition: 0.3s;
          padding: 10px;
}

.navbar .containerOfNavbar .tab3 .avatartab3 .tabOFavatar:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.navbar .containerOfNavbar .tab3 .avatartab3 .tabOFavatar .tabOfavatarNav {
          text-decoration: none;
          color: #fff;
}